@model PMSolution.Web.ViewModels.BookAppointmentViewModel

@{
    ViewBag.Title = "BookAppointment";
}

<h2>BookAppointment</h2>

<div class="container">
    @using (Html.BeginForm("AddAppointment", "Appointment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientId)
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="border-bottom" style="padding-top:20px;"><h5>Patient detail</h5></div>
                <div style="padding-top:20px;">
                    <dl>
                        <dt>Name</dt>
                        <dd>@($"{Model.FirstName} {Model.LastName}")</dd>
                        <dt>Date of birth</dt>
                        <dd>@Model.DateOfBirth.ToString("dd-MM-yyyy")</dd>
                        <dt>Phone number</dt>
                        <dd>@Model.PhoneNumber</dd>
                    </dl>
                </div>
            </div>
            <div class="col-md-9 border-0">
                <div style="padding-top:20px;">

                    <div class="row" style="padding-top:20px;">
                        <div class="col-md-2 w-auto" style="text-align:end">
                            @Html.LabelFor(model => model.Date, new { @class = "col-form-label" })
                        </div>
                        <div class="col-md-3">
                            @Html.DisplayFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>



                    <div class="form-group row justify-content-end">
                        <div class="col-sm-2">
                            @Html.ActionLink("Back", "Index", "", new { @class = "btn btn-outline-primary btn-block" })
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-outline-success" value="Book" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
</div>