@model PMSolution.Web.ViewModels.AppointmentsViewModel
@{
    ViewBag.Title = "Appointments";
}

<div class="row" style="padding-top: 40px;">
    <div class="col-md-3">
        <h4>Appointments</h4>
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Add new appointment", "SearchPatient", "PatientManagement", null, new { @class = "btn btn-sm btn-success" })
    </div>
    <div class="col-md-6 justify-content-end">
        <h5 style="text-align:end;">@DateTime.Today.DayOfWeek - @DateTime.Today.ToString("dd/MM/yyy")</h5>
    </div>
</div>

<hr />

<div class="container">

    @using (Html.BeginForm("Index", "Appointment", FormMethod.Post))
    {
        <div class="row" style="padding-top:20px;">
            <div class="col-md-2 w-auto" style="text-align:end">
                @Html.LabelFor(model => model.Date, new { @class = "col-form-label" })
            </div>
            <div class="col-md-3">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-sm btn-outline-success" value="View appointments" />
            </div>
        </div>
    }

    <div class="row" style="padding-top:75px;">
        <div class="col-md-4">
            <h5 style="text-align:start;">@Model.Date.DayOfWeek - @Model.Date.ToString("dd/MM/yyy")</h5>
        </div>
        @if (Model.AllAppointments.Any())
        {
            <div class="offset-3 col-md-3">
                <input class="form-control mr-sm-2" type="text" placeholder="Patient MRN">
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm btn-outline-success" style="" type="submit">Search patient</button>
            </div>
        }
    </div>


    @if (Model.AllAppointments.Any())
    {
        <div class="row" style="padding-top: 20px;">
            <div class="table-responsive border rounded border-top-0">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Birth date</th>
                        <th>CNIC</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th style="text-align:center;">Actions</th>
                    </tr>

                    <tbody>
                        @foreach (var app in Model.AllAppointments)
                        {
                            <tr>
                                <td scope="row">@($"{app.FirstName} {app.LastName}")</td>
                                <td>@app.DateOfBirth.ToString("dd/MM/yyyy")</td>
                                <td>@app.CNIC</td>
                                <td>@app.StartTime</td>
                                <td>@app.EndTime</td>
                                <td>
                                    <div class="row justify-content-center">
                                        <div style="padding-right:10px;">
                                            @Html.ActionLink("Edit", "Edit", new { id = app.Id }, new { @class = "text-info" })
                                        </div>
                                        <div>
                                            @Html.ActionLink("Delete", "DeleteAppointment", new { id = app.Id }, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <p>No appointments found</p>
    }
</div>



