@model PMSolution.Web.ViewModels.ClinicDayViewModel

@{
    ViewBag.Title = "AddClinicDays";
}

@using (Html.BeginForm("AddClinicDays", "Clinic", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div style="padding-top: 40px;">
        <h4>Add clinic days</h4>
    </div>

    <hr />
    <div class="container" style="padding-top: 40px;">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ClinicId)

        <div class="form-group row justify-content-start">
            <div class="col-md-2" style="text-align:end;">
                <h6 class="col-form-label">Day</h6>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Day, Model.RemainingDays, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Day, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row justify-content-start">
            <div class="col-md-2" style="text-align:end;">
                <h6 class="col-form-label">Opening Time</h6>
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.StartTimeHour, Model.Hours, "Hour", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartTimeHour, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.StartTimeMin, Model.Minutes, "Min", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartTimeMin, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.StartAMPM, Model.AMPM, "AM/PM", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StartAMPM, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group row justify-content-start">
            <div class="col-md-2" style="text-align:end">
                <h6 class="col-form-label">Closing Time</h6>
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.EndTimeHour, Model.Hours, "Hour", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndTimeHour, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.EndTimeMin, Model.Minutes, "Min", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndTimeMin, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-2">
                @Html.DropDownListFor(model => model.EndAMPM, Model.AMPM, "AM/PM", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EndAMPM, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="row">
            <div class="offset-md-5 col-md-2" style="text-align:end;">
                @Html.ActionLink("Cancel", "Index", "", new { @class = "btn btn-sm btn-outline-primary" })
            </div>
            <div class="col-md-1 justify-content-end" style="padding-left:0px;">
                <input type="submit" class="btn btn-sm btn-outline-success" value="Add" />
            </div>
        </div>
    </div>
}
