@model PMSolution.Web.ViewModels.ClinicViewModel

@{
    ViewBag.Title = "Index";
}

<div style="padding-top: 40px;">
    <h4>Clinic Management</h4>
</div>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div style="padding-top:25px;">
                <h5>Clinic Details</h5>

            </div>
            <div>
                @if (Model == null)
                {
                    <div>
                        <p class="info">No clinic details exists, please add.</p>
                    </div>
                    @Html.ActionLink("Add clinic details", "AddClinic", "",
                    new { @class = "btn btn-sm btn-success" })
                }
                else
                {
                    <div>
                        <dl>
                            <dt style="color:black; font-weight:bold;">Name</dt>
                            <dd>@Model.Name</dd>
                            <dt style="color:black; font-weight:bold;">Address</dt>
                            <dd>@Model.Address</dd>
                            <dt style="color:black; font-weight:bold;">Phone number</dt>
                            <dd>@Model.PhoneNumber</dd>
                            <dt style="color:black; font-weight:bold;">Fax</dt>
                            <dd>@Model.FaxNumber</dd>
                            <dt style="color:black; font-weight:bold;">Email</dt>
                            <dd>@Model.Email</dd>
                        </dl>
                    </div>
                    <div class="row justify-content-center">
                        <div style="padding-right:5px;">
                            @Html.ActionLink("Edit clinic", "EditClinic", "Clinic", new { id = Model.Id },
                            new { @class = "btn btn-sm btn-success"})
                        </div>
                        <div>
                            @Html.ActionLink("Delete", "DeleteClinic", "Clinic", new { id = Model.Id },
                            new { @class = "btn btn-sm btn-danger" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-9 border-0">
            @if (Model != null)
            {
                <div class="row">
                    <div class="col-md border-0" style="padding-top:30px;">
                        <h5>Opening hours</h5>
                    </div>
                    @if (Model.ClinicDays.Count < 7)
                    {
                        <div class="col-md border-0 text-right" style="padding-top:15px;">
                            <div>
                                @Html.ActionLink("Add opening day", "AddClinicDays", "Clinic", new { id = Model.Id },
                                new { @class = "btn btn-sm btn-success" })
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    @if (!Model.ClinicDays.Any())
                    {
                        <div>
                            <p class="info">No clinic opening hours record exists, please add.</p>
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive border">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Day</th>
                                        <th class="border-top-0">Open</th>
                                        <th class="border-top-0">Close</th>
                                        <th class="border-top-0" style="text-align:center;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var day in Model.ClinicDays)
                                    {
                                        <tr>
                                            <td scope="row">@day.Day</td>
                                            <td>@day.OpenTime</td>
                                            <td>@day.CloseTime</td>
                                            <td>
                                                <div class="row justify-content-center">
                                                    <div style="padding-right:10px;">
                                                        @Html.ActionLink("Edit", "EditClinicDay", "Clinic", new { id = day.Id },
                                                        new { @class = "text-info" })
                                                    </div>
                                                    <div>
                                                        @Html.ActionLink("Delete", "DeleteClinicDay", "Clinic", new { id = day.Id },
                                                        new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            }   
        </div>
    </div>
</div>