@model PMSolution.Web.ViewModels.PatientsViewModel

@{
    ViewBag.Title = "Patient Management";
}
@*<script>
    function myFunction() {
        var x = document.getElementById("searchPatient");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>*@

<div style="padding-top: 40px;">
    <h4>Patient Management</h4>
</div>

<hr />

<div class="row">
    <div class="form-group col-md-10">
        <div class="row">
            <div class="form-group col-md-3">

                @Html.ActionLink("Add new patient", "AddPatient", "PatientManagement",
                new { @class = "btn btn-md btn-success" })

            </div>
            <div class="form-group col-md-3">

                @Html.ActionLink("Search Patient", "SearchPatient", "PatientManagement",
                new { @class = "btn btn-md btn-success" })

            </div>
        </div>
    </div>
</div>
@if (Model.AllPatients.Any())
{
    <div class="table-responsive border">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date of birth</th>
                    <th scope="col">CNIC</th>
                    <th scope="col" class="text-center">Action</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var patient in Model.AllPatients)
                {
                    <tr>
                        <td scope="row">@($"{patient.FirstName} {patient.LastName}")</td>
                        <td>@patient.DateOfBirth.ToString("dd-MM-yyyy")</td>
                        <td>@patient.CNIC</td>
                        <td>
                            <div class="row justify-content-center">
                                <div style="padding-right:10px;">
                                    @Html.ActionLink("Edit", "EditPatient", "PatientManagement", new { id = patient.Id },
                                        new { @class = "text-success" })
                                </div>
                                <div style="padding-right:10px;">
                                    @Html.ActionLink("View", "ViewPatient", "PatientManagement", new { id = patient.Id },
                                        new { @class = "text-info" })
                                </div>
                                <div>
                                    @Html.ActionLink("Delete", "DeletePatient", "PatientManagement", new { id = patient.Id },
                                        new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <div>
        <p class="text-info">No patient record exist in the system!</p>
    </div>
}

